/* Layout/Typography */

html {
    margin: 0;
}

body {
    margin: 0;
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1em;

    font-family: "IBM Plex Sans Light", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #222;
}


h1, h3, h4, h5, h6, .header-title {
    font-family: "IBM Plex Sans Regular", sans-serif;
    font-size: 1.25em;
    font-weight: normal;
}

body h1 {
    margin-top: 3em;
    border-bottom: 1px solid #999;
}

p {
    margin: 10px 0;
}

a, a:hover, a:visited, a:link, a:active {
    color: #0054a6;
    text-decoration: none;
}

/* Landing */

.landing {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.landing > img {
    margin: 0;
    width: 75px;
}

header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15vh;
}

header img {
    min-width: 50%;
    max-width: 50%;
    min-height: 50%;
    max-height: 50%;
}

header h1 {
  font-size: 2em;
  padding: 0.5em 0 0 0;
  text-align: center;
  margin: 0;
  border: none;
}

.top-contact {
    margin-top: 3em;
}

@media (max-width: 450px) {
    header {
        margin-top: 0;
    }

    header h1 {
        font-size: 1.6em;
    }
}

/* Portfolio */

.portfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.portfolio div {
    position: relative;
    max-width: 300px;
    min-width: 300px;
    margin: 0 2em 3em 0;
    padding: 0;
}

@media (max-width: 600px) {
    .portfolio div {
        max-width: 100%;
        min-width: 80%;
    }
}

.portfolio h2 {
    font-size: 1em;
}

/* .portfolio p {
    font-size: 0.8em;
} */

.portfolio img {
    display: block;
    border: 1px solid #999;
    border-radius: 2px;
    margin: auto;
    width: 100%;
}

p.file-desc {
/*     font-size: 0.8em; */
    color: grey;
}

/* Profile */

.profile div {
    float: left;
    max-width: 200px;
/*     margin: 0 1em; */
}

@media (max-width: 450px) {
    .profile div {
        float: none;
    }
}

.portrait {
    margin-right: 1em;
}

.profile div img {
    max-width: 200px;
    border: 1px solid #999;
    border-radius: 2px;
}

.contact {
    margin-top: 6em;
}

.profile p, .contact p {
    margin: 1em 0;
}

/* Footer */

footer {
    text-align: center;
    margin: 4em 0 2em 0;
}

/* Remove dotted borders in FF */
a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: 0;
    outline : 0;
}