@font-face {
    font-family: "Karla";
    src: url(Karla-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Karla Bold";
    src: url(Karla-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Karla Italic";
    src: url(Karla-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}