@font-face {
    font-family: "Rubik";
    src: url(Rubik-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Rubik Italic";
    src: url(Rubik-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Rubik Medium";
    src: url(Rubik-Medium.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Rubik Medium Italic";
    src: url(Rubik-MediumItalic.ttf);
    font-style: italic;
    font-weight: bold;
}